/* AdminPasswordModal.css */
.admin-password-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .admin-password-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .admin-password-modal h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Inter, sans-serif;
  }
  
  .admin-password-modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .admin-password-modal button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #54BD95;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .admin-password-modal button:hover {
    background-color: #49c595;
  }
  